<!-- <h3>Your meat choices are:</h3>

<h3>Your vegetable choices are:</h3>

<h3>Your cheese choices are:</h3> -->

<h3>Here's what you're getting on your sandwich:</h3>
<%toppings.each do |final|%>
    <p><%=final%></p>
<%end%>