

<%parts.each do |x|%>
<form action="/correct">
        <p><input type="checkbox" value="<%=x%>" name="toppings[]" checked><%=x%></p>
    <%end%>
    <input type="submit" value="These are correct!">
</form>