<form method="post" action="/areyousure">

	<h3>Your meat choices are:</h3>
	<p><%=meatchoices%></p><br>

	<h3>Your veggie choices are:</h3>
	<p><%=veggiechoices%></p><br>

	<h3>Your cheese choices are:</h3>
	<p><%=cheesechoices%></p><br>

	<input type='submit'>

</form>